#deezer-plugin-toolbar-play-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/play.png");
}

toolbar[iconsize="small"] #deezer-plugin-toolbar-play-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/play-small.png");
}

#deezer-plugin-toolbar-pause-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/pause.png");
}

toolbar[iconsize="small"] #deezer-plugin-toolbar-pause-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/pause-small.png");
}

#deezer-plugin-toolbar-prev-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/prev.png");
}

toolbar[iconsize="small"] #deezer-plugin-toolbar-prev-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/prev-small.png");
}

#deezer-plugin-toolbar-next-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/next.png");
}

toolbar[iconsize="small"] #deezer-plugin-toolbar-next-button {
    list-style-image: url("chrome://deezer-plugin-buttons/content/next-small.png");
}

#deezer-plugin-toolbar-song-title {
    font-weight: bold; 
}

.deezer-song-label {
    margin: 7px 20px;
}

.deezer-song-label-left {
    margin: 7px 0px 7px 20px;
}

.deezer-song-label-right {
    margin: 7px 20px 7px 0px;
}