<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./logs/jMP3tagEditor.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="2" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %5p [%30.30c\:%4L] %m%n" />
		</layout>
	</appender>

	<logger name="com.mscg">
		<level value="INFO" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="LOG" />
	</root>
</log4j:configuration>